<div
  class="container flex place-items-center justify-center flex-col p-8 border-2 border-black rounded"
  style="
    background-color: #333;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  "
>
  <h2 class="text-black bold text-xl mb-8" style="color: #666">
    {{ title | titlecase }}
  </h2>
  <div class="inputBox relative">
    <input
      type="{{ showPassword ? 'text' : 'password' }}"
      style="background-color: #222"
      class="form-control px-4 py-2 w-60 text-white"
      id="inputPassword"
      name="password"
      [(ngModel)]="password"
      placeholder="Enter your password"
    />
    <button
      type="button"
      class="absolute top-0 right-0 w-16 h-auto p-1 text-white text-sm"
      (click)="togglePasswordVisibility()"
      style="background-color: #333; border: 6px solid #222"
    >
      {{ showPassword ? "HIDE" : "SHOW" }}
    </button>
  </div>
  <div class="passwordStrengthIndicator flex mt-4">
    <ng-container *ngFor="let indicator of [0, 1, 2]">
      <div class="strength-indicator" [ngClass]="passwordStrengthClass"></div>
    </ng-container>
  </div>
</div>
